{# Global library modal group (desktop) #}

<div id="public-library-modal" class="modal" style="display: none;">
    <div class="modal-content public-library-modal-content">
        <div class="modal-header">
            <div id="publicBooksLanguageSelector" class="books-language-selector"></div>
            <h3></h3>
            <button class="modal-close" id="public-library-close" type="button" aria-label="" title="">
                <i data-lucide="x"></i>
            </button>
        </div>
        <div class="modal-body public-library-modal-body">
            <div class="public-library-content">
                <div class="public-books-zone">
                    <div class="books-list" id="publicBooksList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
