<!-- home-library-modal: личная библиотека пользователя -->
<div id="home-library-modal" class="modal" style="display: none;">
    <div class="modal-content home-library-modal-content">
        <div class="modal-header">
            <div class="library-modal-header-left">
                <i data-lucide="home" class="library-modal-icon"></i>
                <button id="btnNewBookInZone" class="btn-new-book" title="">
                    <i data-lucide="book-plus"></i>
                </button>
            </div>
            <div id="booksLanguageSelector" class="books-language-selector"></div>
            <h3></h3>
            <button class="modal-close" id="home-library-close" type="button" aria-label="" title="">
                <i data-lucide="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="library-content">
                <div class="books-zone" id="booksZone">
                    <div class="books-list" id="booksList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
